{% extends 'base.html' %}
{% block title %} Detalles {% endblock %}
{% block content %}
<div class="container">
	<a href="javascript:history.back()">Back</a>
	<div class="form-group">
		<p><strong>Nombre de usuario: </strong>{{user.username}}</p>
	</div>
	<div class="form-group">
		<p><strong>Nombre: </strong>{{user.first_name}}</p>
	</div>
	<div class="form-group">
		<p><strong>Apellidos: </strong>{{user.last_name}} {% if user.last_mom_name %}{{user.last_mom_name}} {% endif %}</p>
	</div>
	<div class="form-group">
		<p><strong>Correo electrónico: </strong>{{user.email}}</p>
	</div>
	<div class="form-group">
		<p><strong>Género: </strong>{{user.gender}}</p>
	</div>
	<div class="form-group">
		<p><strong>No. telefónico: </strong>{% if user.mobile_no %} {{user.mobile_no}} {% endif %}</p>
	</div>
	<div class="form-group">
		<p><strong>Fecha de nacimiento: </strong>{% if user.date_of_birth %} {{user.date_of_birth}} {% endif %}</p>
	</div>
	<div class="form-group">
		<p>
			<strong>Imagen de perfil: </strong>
			<img src="/{{user.avatar}}" alt="avatar">
		</p>
	</div>
	<div class="form-group">
		<strong>Activo: </strong>{% if user.is_active == "True" %} Sí {% else %} No {% endif %}
	</div>
	<div class="form-group">
		<strong>Súper usuario: </strong>{% if user.is_superuser == "True" %} Sí {% else %} No {% endif %}
	</div>
	<div class="form-group">
		<strong>Staff: </strong>{% if user.is_staff == "True" %} Sí {% else %} No {% endif %}
	</div>
	<div class="form-group">
		<strong>Grupos: </strong>
		{% if user.groups.all %} {{user.groups.all}} {% endif %}
	</div>
	<div class="form-group">
		<strong>Permisos</strong>
		{% if user.user_permissions.all %} {{user.user_permissions.all}} {% endif %}
	</div>
	<div class="form-group">
		<a href="{% url 'userprofiles:user-update' user.id %}">Editar</a>
	</div>
</div>
{% endblock %}